# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environment
# =========================
.fastAPIenv/
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Pytest / Test cache
# =========================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# =========================
# MyPy
# =========================
.mypy_cache/
.dmypy.json
dmypy.json

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Alembic
# =========================
# Jangan ignore folder alembic/
# Migration biasanya perlu di-commit